{% extends 'base.html.twig' %}

{% block title 'Gérer les critères' %}

{% block body %}
    <div class = "container mt-4">
        <h1>Gérer les critères</h1>

        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
        
        <table class="table table-striped">
        <thead>
        <tr>
            <th>Nom</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for critere in criteres %}
        <tr>
            <td>{{ critere.name }}</td>
            <td>
                <a href="{{ path('admin.critere.edit', {id: critere.id}) }}" class="btn btn-secondary">Editer</a>
                <form  method="post" action="{{ path('admin.critere.delete', {id: critere.id}) }}" style="display: inline-block" onsubmit="return confirm('Etes vous vraiment sûr ?')">
                    <input type="hidden" name="_method" value="DELETE">
                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ critere.id) }}">                   
                    <button class="btn btn-danger">Supprimer</button>
                </form>
            </td>
          </tr>  
          {% endfor %}
          </tbody>
        </table>

        <div class="text-right">
            <a href="{{ path('admin.critere.new') }}" class="btn btn-primary">Créer un nouveau bien</a>
        </div>

    </div>
  
{% endblock %}